body {
margin: 0;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

*{
margin: 0 !important;
font-size: 19px;
}
code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
monospace;
}
a{
text-decoration: none !important;
}




.body{
display: grid;
justify-items: center;
width: 100%;
padding: 0 0 50px;
}

header{
display: grid !important;
width: 100%;

grid-template-columns: 1fr 1fr;
background: #222;
color:white !important;
padding: 20px 40px 20px;
}
header a {
text-align: right;
color: white !important;
}
header a:hover{
text-align: right;
color: grey !important;
}
.filmSearch{
display:grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 20px;
padding: 50px;
}
.filmSearch input,.filmSearch button {
border-width: 2px;
}
.filmList {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap:20px;
width: 90%;
max-width: 1300px;
}

.filmComponent{
display: grid;
background: lightgray;
border-radius: 5px;
padding: 20px 30px 25px;
row-gap: 10px;
}
.title{
font-size: 23px;
text-align: center;
}
.starStart{
text-align: center;

}
.star:hover{
background-color: gray;
}
.linksFromComponent{
text-align: center;
display:flex;
align-items:center;
justify-content: center;
display: grid;
width: 100%;
justify-items: center;
grid-template-columns: 1fr 1fr;
}
.linksFromComponent btn{
border: none;
background: transparent;


}
.linksFromComponent button:hover, .linksFromComponent a:hover{
border: 1px solid black;
border-radius:5px;
padding-left:30px;
padding-right:30px;
}

.editForm{
padding: 30px 0 30px;
display: grid;
row-gap: 15px;
}


.editForm div{
display: grid;
grid-template-columns: 1fr;
}

.starForDelete{
display: grid;
grid-template-columns: 1fr 1fr !important;
}

.starForDelete button{
justify-self: end;
border-radius: 50%;
border: 1px solid black;
background: transparent;
width: 30px;}

.formFile {
display: grid;
text-align: center;
width: 80%;
row-gap: 15px;
padding: 30px 0 30px;
}
.formFile label{
font-size: 23px;
}
.inputForm{
display: grid;
row-gap: 15px;
}
.inputForm div{
display: grid;
grid-template-columns: 1fr;
}

@media only screen and (max-width: 800px)  {
    
    .filmList {
        grid-template-columns: 1fr;
    }
    .filmSearch{
        grid-template-columns: 1fr;
    }
}
